.footer-component {
    width: 100%;
    height: fit-content;
    color: white;
    background-color: purple;
    z-index: 1;
    font-size: small;
    margin-top: 3rem;
    padding: 0.5rem 2rem 0;
    display: flex;
    flex-direction: column;

    .staff {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
            font-size: medium;
            font-weight: bold;
        }

        .login {
            width: fit-content;
            transition: color 0.3s ease;
            cursor: pointer;
        }

        .login:hover {
            transition: color 0.3s ease;
            color: blue;
        }
    }
    .bottom-text {
        align-self: center;
    }
}