.basket {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;

    .title {
        border-bottom: 1px solid gainsboro;
        padding-bottom: 1rem;
    }

    .ticket-form {
        display: flex;
        justify-content: space-between;
        height: fit-content;
        align-items: center;
        padding: 2rem;
        width: 100%;

        .price {
            font-weight: bold;
        }

        .quantity-select {
            display: flex;
            gap: 1rem;
            align-items: center;

            .quantity {
                width: 2rem;
                text-align: center;
            }


            .add-container, .subtract-container {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border-radius: 0.5rem;
            }

            .enabled {
                background-color: green;
                color: white;
                cursor: pointer;
            }

            .disabled {
                background-color: gainsboro;
                color: gray;
                cursor: not-allowed;
            }
        }
    }

    .price-total-container {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: right;
        padding-right: 4rem;

        .label, .price-total {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .price-total {
            min-width: 5.5rem;
        }
    }

    .checkout {
        width: 50%;
        height: 2rem;
        border: 1px solid gainsboro;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-top: 2rem;
    }

    .checkout:hover {
        background-color: purple;
        color: white;
        transition: all 0.3s ease;
    }

}