@use "../index.scss";

.event-page {
    @include index.page-layout;

    .loading-page {
        @include index.page-display;
        justify-content: center;
        color: purple;
    }

    .event-display {
        @include index.page-display;
        width: 100%;

        .image-container {
            display: flex;
            width: 100%;
            background-image: url("../../assets//media/image-background.jpg");
            background-size: cover;
            justify-content: center;

            img {
                width: 60rem;
                height: 30rem;
            }

            @media only screen and (min-width: 1021px) {
                img {
                    width: 60rem;
                    height: 30rem;
                }
            }

            @media only screen and (max-width: 1020px) and (min-width: 641px) {
                img {
                    width: 40rem;
                    height: 20rem;
                }
            }

            @media only screen and (max-width: 640px) {
                img {
                    width: 100%;
                    height: 20rem;
                }
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 70vw;
            margin: auto;

            @media only screen and (min-width: 1021px) {
                width: 70vw;
            }

            @media only screen and (max-width: 1020px) {
                width: 90vw;
            }

            .event-header {
                display: flex;
                gap: 2rem;
                justify-content: space-between;
                position: relative;

                @media only screen and (max-width: 640px) {
                    flex-direction: column;
                }

                .title {
                    font-size: 3rem;
                }

                .ticket {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border: 1px solid gainsboro;
                    border-radius: 1rem;
                    min-width: 15rem;
                    height: fit-content;
                    padding: 0.5rem;
                    align-items: center;

                    .event-expired {
                        font-weight: bold;
                        height: 4rem;
                        @include index.center-elements;
                        font-size: larger;
                    }

                    .price {
                        font-weight: bold;
                    }

                    button {
                        width: 90%;
                        border: 1px solid gainsboro;
                        border-radius: 0.5rem;
                        height: 2rem;
                        cursor: pointer;
                    }
                }
            }

            .summary {
                font-weight: bold;
            }
        }
    }

    .payment-page {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        width: 100%;
        height: 100%;

        .payment-container {
            position: relative;

            .close-payment {
                cursor: pointer;
                position: absolute;
                right: 0.3rem;
                top: 0.3rem;
                font-size: 1.5rem;
                transition: all 0.3s ease;
                border-radius: 50%;
                border: 1px solid transparent;
            }

            .close-payment:hover {
                background-color: purple;
                color: white;
                transition: all 0.3s ease;
            }
        }
    }

    .show-payment {
        visibility: visible;
        backdrop-filter: blur(10px) brightness(50%);
        transition: all 0.3s ease;
    }

    .hide-payment {
        visibility: hidden;
    }

    .purchaseDetails-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px) brightness(50%);

        .purchase-details {
            position: relative;
            background-color: white;
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .title,
            .purchase-message {
                margin: auto;
            }

            .ticket {
                display: flex;
                gap: 20%;
                justify-content: center;
            }

            .addToCalendar {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                p {
                    position: relative;
                    cursor: pointer;

                    span {
                        position: absolute;
                        background-color: gainsboro;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        opacity: 0;
                        transition: all 0.3s ease;
                        width: 10rem;
                        font-size: small;
                    }
                }

                p:hover {
                    span {
                        opacity: 1;
                        transition: all 0.3s ease;
                    }
                }

                .google-login {
                    align-self: center;
                }
            }

            .close-purchase {
                cursor: pointer;
                position: absolute;
                right: 0.3rem;
                top: 0.3rem;
                font-size: 1.5rem;
                transition: all 0.3s ease;
                border-radius: 50%;
                border: 1px solid transparent;
            }

            .close-purchase:hover {
                background-color: purple;
                color: white;
                transition: all 0.3s ease;
            }

            .navigation {
                display: flex;
                gap: 1rem;
                justify-content: center;

                .back,
                .home {
                    width: 20%;
                    border: 1px solid gainsboro;
                    border-radius: 0.5rem;
                    height: 2rem;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .back:hover,
                .home:hover {
                    background-color: purple;
                    color: white;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
