@use "../index.scss";

.home-page {
    @include index.page-layout;

    .home-display {
        @include index.page-display;
        @media only screen and (min-width: 1800px) {
            padding: 2rem 15%;
          }

          @media only screen and (min-width: 1530px) and (max-width: 1799px) {
            padding: 2rem 10%;
          }

          @media only screen and (min-width: 1025px) and (max-width: 1529px) {
            padding: 2rem 8%;
          }

          @media only screen and (min-width: 641px) and (max-width: 1024px) {
            padding: 2rem 5%;
          }

          @media only screen and (max-width: 640px) {
            padding: 2rem 1rem;
          }

        ul {
            list-style-type: none;
        }

        .home-tags {
            border-bottom: 1px solid gainsboro;
            padding-bottom: 1rem;

            .home-tags-list {
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;

                .home-tags-list-item {
                    @include index.center-elements-column;
                    gap: 0.5rem;
                    flex: 1;

                    .icon-container {
                        @include index.center-elements;
                        border: 1px solid gainsboro;
                        border-radius: 50%;
                        transition: all 0.3s ease;

                        @media only screen and (min-width: 1360px) {
                            padding: 2rem;

                            .icon {
                                font-size: 2rem;
                            }
                        }

                        @media only screen and (min-width: 641px) and (max-width: 1359px) {
                            padding: 1.5rem;
                            .icon {
                                font-size: 1.5rem;
                            }
                        }

                        @media only screen and (max-width: 640px) {
                            padding: 1rem;
                            .icon {
                                font-size: 1rem;
                            }
                        }
                    }

                    .text {
                        transition: all 0.3s ease;

                        @media only screen and (max-width: 640px) {
                            font-size: small;
                        }
                    }
                }

                .home-tags-list-item:hover {

                    .icon-container {
                        background-color: gainsboro;
                        color: purple;
                        transition: all 0.3s ease;
                    }

                    .text {
                        color: purple;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        .home-events {
            .home-events-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 1.5rem;
                transition: all 0.3s ease;

                .home-events-list-item {
                    border: 1px solid transparent;
                    border-radius: 1rem;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    @media screen and (min-width: 721px) {
                        width: 19rem;
                    }
                    @media screen and (max-width: 720px) {
                        width: 75vw;
                    }
                }
            }

            .home-events-list:hover {
                .home-events-list-item {
                    opacity: 0.8;
                    transition: all 0.3s ease;
                }

                .home-events-list-item:hover {
                    opacity: 1;
                    transition: all 0.3s ease;
                    color: red;
                    box-shadow: 10px 10px 10px gainsboro;
                }
            }
        }
    }
}