@use "../index.scss";

.home-page {
    @include index.page-layout;

    .home-display {
        @include index.page-display;

        ul {
            list-style-type: none;
        }

        .home-tags {
            .home-tags-list {
                margin: auto;
                display: flex;
                justify-content: space-between;

                .home-tags-list-item {
                    @include index.center-elements-column;
                    gap: 0.5em;

                    .icon {
                        @include index.center-elements;
                        border: 1px solid gainsboro;
                        width: 6.5em;
                        height: 6.5em;
                        border-radius: 50%;
                        transition: all 0.3s ease;
                    }

                    .text {
                        transition: all 0.3s ease;
                    }
                }

                .home-tags-list-item:hover {

                    .icon {
                        background-color: gainsboro;
                        color: purple;
                        transition: all 0.3s ease;
                    }

                    .text {
                        color: purple;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        .home-events {
            .home-events-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 2em;
                transition: all 0.3s ease;

                .home-events-list-item {
                    width: 20em;
                    border: 0px;
                    border-radius: 1em;
                    transition: all 0.3s ease;

                    .home-events-list-item-image {
                        border: 0px;
                        border-radius: 1em;
                        object-fit: fill;
                        width: 100%;
                        height: 10em;
                    }

                    .home-events-list-item-text {
                        display: flex;
                        flex-direction: column;
                        padding: 1em;

                    }
                }
            }

            .home-events-list:hover {
                .home-events-list-item {
                    opacity: 0.8;
                    transition: all 0.3s ease;
                }


                .home-events-list-item:hover {
                    opacity: 1;
                    transition: all 0.3s ease;
                    color: red;
                }
            }
        }
    }
}