@font-face {
  font-family: "Poppins-Regular";
  src: url("/Poppins/Poppins-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/Poppins/Poppins-Light.ttf") format("woff2");
}

@font-face {
  font-family: "Butterfly-Kids";
  src: url("/Butterfly_Kids/ButterflyKids-Regular.ttf") format("woff2");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: Poppins-Light;
}

@mixin page-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  position: relative;

}

@mixin center-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin page-display {
  flex: 1;
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0em;
  top: 3.5rem;
  position: relative;
}